<div class="row">
<div class="col-sm-2"></div>
<div class="col-sm-8">
  <h1>Welcome</h1>
  <div class="panel panel-default">
      <div class="panel-body">
        <%= image_tag "vennimage.png", class:"img-responsive center-block img-rounded" %>
      </div>
  </div>
  <h4>Headline 4</h4>
  <p>Vestibulum egestas, massa a vestibulum dictum, ipsum diam tempus ligula, nec malesuada tortor leo quis risus. Praesent eget magna in diam bibendum mattis in vel nibh. Aenean facilisis magna arcu, eu ultricies tellus luctus quis. <%= link_to "More about us>>", thanks_path %></p>

  <div style="padding-top:10px;">
      <div class="pull-right">

        <%= link_to fa_icon("arrow-circle-right", text:"start quiz"), quiz_path, class:"btn btn-info" %>
      </div>
  </div>

</div> <!-- ends col-sm-8 -->

<div class="col-sm-2"></div>
</div>

