@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

$header_font: 'Raleway', sans-serif;
$text_font: 'Arvo', serif;
$bkgd_color: WhiteSmoke;
$app_bkgdcolor: #FFFFFF;



body {
  margin-top:10px;
  padding-top:10px;
  font-family: $text_font;
  background-color:$bkgd_color;
}

.main_section {
  background-color: $app_bkgdcolor;
  padding-top:10px;
  padding-bottom:30px;
  #margin-left:50px;
  #margin-right:50px;
  margin-bottom:100px;
  margin-top:20px;
  border-radius: 20px;
}

h1 {
    font-family: $header_font;
    font-size:3.5em;
  }

h2 {
    font-family: $header_font;
    font-size:3em;
  }

h3 {
    font-family: $header_font;
    font-size:2.5em;
  }

h4, h5 {
    font-family: $header_font;
    font-size:2em;
  }

p {
    font-family: $text_font;
  }

.form-inputs {
    font-family: $text_font;
}
